.bg-green{
    height: 580px;
    background-color: #F0FFF0;
}
#btn{
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: green;
}
h6{
 color: orange;
 }
span{
 color: green;
 }   
 .cat1,.cat3,.cat4{
    background-color: #F0FFF0;
    padding: 40px 0;
    border-radius: 10px;
}
#shadow  .active{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 40px 0;
} 
.card-item{
   padding: 40px;
}
.color{
    color: #413960    ;
}
.item-foo{
    font-size: 10px;
}
.main-text{
    padding: 0 95px;
}
.main-text p{
   margin-left: 45px;
   margin-top: 10px;
}
#footer{
  margin-bottom: 50px;
}
#something{
    padding-top: 20px;
}
#something .nav-link{
    padding: 0 3px;
    color: gray;
}
#something p{
    color: gray;
}
footer p{
    color: gray;
    font-size: 15px;
}